<div class="top-bar bg-main-color text-white-color py-1 d-md-block d-none">
  <div class="container">
    <div
      class="d-flex justify-content-between justify-content-center-small text-center-small align-items-center gap-2 flex-wrap">
      <h5 class="mb-0 text-white-color nav-link">
        {{'topHeader.slogn' | translate}}
      </h5>
      <ul class="nav navbar d-flex justify-content-center gap-1 py-0">
        <!-- <li class="nav-item">
          <app-languages-selector></app-languages-selector>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-white-color px-1">
            <div class="d-flex align-items-center gap-2">
              <i class="pi pi-envelope"></i>
              <a href="mailto:{{'info@talbinah.net'}}" target="_blank">
                info@talbinah.net
              </a>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>