#doctors-list {
  .card-img-overlay-doctor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .session-icon {
    background-color: var(--bg-main-color);
    border-radius: 0.5rem;
    padding: 2px;
    width: 28px;
    height: 28px;
    text-align: center;
  }

  .info-doc {
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 85%);
    border-radius: 0.5rem;
  }

  .img-doctor {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;

    .doctor-img {
      object-fit: fill;
      background-color: #ececec;
      height: 17rem;
    }
  }

  .img-size-doctor {
    height: 17rem;
    width: 100%;
    object-fit: cover;
  }

  .info-doc {
    .content-info {
      position: absolute;
      bottom: 1rem;
      width: calc(100% - 1rem);
      padding-inline-start: 1rem;
    }
  }

  .overlay-search {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #11111151;
    z-index: 2;
    border-radius: 20px;
  }

  .search-filter {
    border-radius: 10px;
  }

  .search-sidebar {
    border-radius: 0;
  }

  .spinner-grow {
    width: 0.7rem;
    height: 0.7rem;
    background-color: var(--bg-main-color);
  }
}

:host::ng-deep {
  #doctors-list {
    background: linear-gradient(180deg, #c1d4dc 7.61%, #ffffff 73.69%);

    .p-inputtext {
      height: 3rem !important;
      background-color: transparent;
      // line-height: 1;
    }

    .form-control {
      background-color: transparent;
    }

    .p-inputgroup-addon {
      border-radius: 10px;
      min-width: 3.5rem;
    }

    .p-inputgroup {
      box-shadow: 0px 3px 6px 0px #00000029;
      background-color: var(--bg-white-color) !important;
      border-radius: 10px;
      overflow: hidden;
    }

    .p-paginator {
      .p-link {
        border-radius: 5px !important;
      }

      .p-paginator-page.p-highlight {
        background-color: var(--bg-main-color) !important;
        color: var(--text-white-color) !important;
      }
    }

    .p-sidebar .p-sidebar-header {
      display: flex;
      justify-content: flex-end;
    }

    .close {
      background-color: #f44336;
      color: var(--text-white-color);
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    .sidebar-info {
      padding: 0 1.2rem;
      height: calc(100% - 64px);
    }

    .p-sidebar-content {
      max-height: 100vh;
      margin: 0;
      padding: 0;
    }

    .p-sidebar .p-sidebar-header,
    .p-sidebar .p-sidebar-footer {
      display: none;
    }

    .mat-mdc-slider .mdc-slider__thumb-knob {
      background-color: var(--bg-main-color) !important;
      border-color: var(--bg-main-color) !important;
    }

    .mat-mdc-slider.mat-primary {
      --mdc-slider-handle-color: var(--bg-main-color) !important;
      --mdc-slider-focus-handle-color: var(--bg-main-color) !important;
      --mdc-slider-hover-handle-color: var(--bg-main-color) !important;
      --mdc-slider-active-track-color: var(--bg-main-color) !important;
      --mdc-slider-inactive-track-color: var(--bg-main-color) !important;
      --mdc-slider-with-tick-marks-active-container-color: #fff;
      --mdc-slider-with-tick-marks-inactive-container-color: var(--bg-main-color) !important;
      --mat-mdc-slider-ripple-color: var(--bg-main-color) !important;
      --mat-mdc-slider-hover-ripple-color: rgba(132, 84, 142, 0.05) !important;
      --mat-mdc-slider-focus-ripple-color: rgba(132, 84, 142, 0.2) !important;
    }
  }
}

.empty-div {
  width: 40px;
}

.content1 {
  flex: 1;
}

.sidebar {
  position: sticky;
  top: 15px;
}