<ng-container *ngIf="type=='doctors'">
  <h3 class="mb-5">
    <p-skeleton width="40%" height="1rem" styleClass="default-skeleton m-auto"></p-skeleton>
    <div class="mt-4">
      <p-skeleton width="70%" height=".7rem" styleClass="default-skeleton m-auto mb-2"></p-skeleton>
      <p-skeleton width="50%" height=".7rem" styleClass="default-skeleton m-auto"></p-skeleton>
    </div>
  </h3>
  <div class="row">
    <ng-container *ngFor="let item of [4,4,4,4]">
      <div class="col-xl-3 col-md-6 col-sm-6 col-6 mt-4">
        <div class="global-card mx-1">
          <p-skeleton width="100%" height="26rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
          <div class="row mt-2">
            <div class="col-9">
              <p-skeleton width="100%" height="2.4rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
            </div>
            <div class="col-3">
              <p-skeleton width="100%" height="2.4rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type=='blogs'">
  <h3 class="mb-5">
    <p-skeleton width="30%" height="1rem" styleClass="default-skeleton m-auto"></p-skeleton>
  </h3>
  <div class="row">
    <ng-container *ngFor="let item of [4,4,4]">
      <div class="col-lg-4 col-md-6 col-sm-6 col-6 mt-4">
        <div class="global-card mx-1">
          <p-skeleton width="100%" height="11.5rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
          <div class="mt-2">
            <div class="d-flex gap-1 mb-2">
              <div>
                <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                  borderRadius="10px"></p-skeleton>
              </div>
              <div>
                <p-skeleton width="5rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
              </div>
            </div>
            <p-skeleton width="65%" height="1rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <div class="d-flex gap-1">
              <div>
                <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                  borderRadius="10px"></p-skeleton>
              </div>
              <div>
                <p-skeleton width="10rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type=='testimonials'">
  <h3 class="mb-4">
    <p-skeleton width="30%" height="1rem" styleClass="default-skeleton m-auto"></p-skeleton>
  </h3>
  <div class="row">
    <ng-container *ngFor="let item of [4,4]">
      <div class="col-lg-6 col-md-6 col-sm-6 mt-4">
        <div class="global-card">
          <div class="d-flex gap-1 mb-3 justify-content-between">
            <div class="d-flex gap-1">
              <ng-container *ngFor="let item of [1,1,1,1,1]">
                <div>
                  <p-skeleton size=".9rem" shape="circle" styleClass="default-skeleton"></p-skeleton>
                </div>
              </ng-container>
            </div>
            <div>
              <p-skeleton width="10rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
            </div>
          </div>

          <p-skeleton width="40%" height=".8rem" styleClass="default-skeleton"></p-skeleton>

        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type=='doctorsList'">
  <div class="row">
    <ng-container *ngFor="let item of [4,4,4,9,9,8]">
      <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 mb-4">
        <div class="global-card">
          <p-skeleton width="100%" height="16rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
          <div class="mt-2">
            <p-skeleton width="50%" height="1rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <p-skeleton width="40%" height=".7rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <div class="row mt-2">
              <div class="col-9">
                <p-skeleton width="100%" height="2.4rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
              </div>
              <div class="col-3">
                <p-skeleton width="100%" height="2.4rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="type=='doctorsDetails'">
  <div class="row">
    <div class="col-lg-7 col-md-12 mb-5">
      <div class="global-card border">
        <div class="row">
          <div class="col-xl-3 col-lg-4">
            <p-skeleton size="10rem" shape="circle" styleClass="default-skeleton"></p-skeleton>
          </div>
          <div class="col-xl-9 col-lg-8">
            <div class="my-2">
              <p-skeleton width="6rem" height=".9rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <p-skeleton width="5rem" height=".7rem" styleClass="default-skeleton mb-3"></p-skeleton>
              <p-skeleton width="90%" height=".7rem" styleClass="default-skeleton mb-2"></p-skeleton> <p-skeleton
                width="90%" height=".7rem" styleClass="default-skeleton mb-2"></p-skeleton> <p-skeleton width="90%"
                height=".7rem" styleClass="default-skeleton mb-2"></p-skeleton> <p-skeleton width="90%" height=".7rem"
                styleClass="default-skeleton mb-2"></p-skeleton> <p-skeleton width="80%" height=".7rem"
                styleClass="default-skeleton mb-2">
              </p-skeleton>
              <p-skeleton width="70%" height=".7rem" styleClass="default-skeleton mb-3"></p-skeleton>
              <div class="d-flex align-items-center gap-3 mb-3">
                <p-skeleton width="2rem" height="2rem" styleClass="default-skeleton"></p-skeleton>
                <p-skeleton width="5rem" height=".7rem" styleClass="default-skeleton"></p-skeleton>
              </div>
              <p-skeleton width="70%" height="2.3rem" styleClass="default-skeleton mb-2"></p-skeleton>
            </div>
          </div>
        </div>
        <div class="row mt-4 text-center m-auto row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-xl-4">
          <ng-container *ngFor="let item of [2,2,2,2]">
            <div class="col align-items-center justify-content-center mb-2">
              <p-skeleton size=" 5rem" shape="circle" styleClass="default-skeleton mb-3 m-auto"></p-skeleton>
              <p-skeleton width="6rem" height=".7rem" styleClass="default-skeleton m-auto"></p-skeleton>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-12">
      <div class="global-card border">
        <p-skeleton width="9rem" height="1rem" styleClass="default-skeleton my-4"></p-skeleton>

        <p-skeleton width="9rem" height="1rem" styleClass="default-skeleton m-auto mb-4"></p-skeleton>
        <div class="row m-1">
          <ng-container *ngFor="let day of [5,5,5]; let i=index">
            <div class="col">
              <p-skeleton width="60%" height=".7rem" styleClass="default-skeleton mb-2 m-auto"></p-skeleton>
              <p-skeleton width="70%" height=".7rem" styleClass="default-skeleton mb-3 m-auto"></p-skeleton>

              <ng-container *ngFor="let day of [5,5,9,5]; let i=index">
                <p-skeleton width="100%" height="3.5rem" styleClass="default-skeleton mb-2"></p-skeleton>
              </ng-container>
            </div>
          </ng-container>
        </div>
        <hr>
        <p-skeleton width="9rem" height="2.7rem" styleClass="default-skeleton m-auto mt-4"></p-skeleton>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type=='blogList'">
  <div class="my-xl-5 my-md-3 my-sm-3 my-3">
    <div class="global-card">
      <div class="d-flex gap-3 py-4 justify-content-center">
        <ng-container *ngFor="let item of [4,4,4]">
          <p-skeleton width="7rem" height="1rem" styleClass="default-skeleton m-auto"></p-skeleton>
        </ng-container>
      </div>
    </div>

    <div class="row mt-4">
      <ng-container *ngFor="let item of [4,4,4]">
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 mt-4">
          <div class="global-card mx-1">
            <p-skeleton width="100%" height="11.5rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
            <div class="mt-2">
              <div class="d-flex gap-1 mb-2">
                <div>
                  <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
                <div>
                  <p-skeleton width="5rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
              </div>
              <p-skeleton width="65%" height="1rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <div class="d-flex gap-1">
                <div>
                  <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
                <div>
                  <p-skeleton width="10rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type=='blogs2'">
  <div class="row">
    <ng-container *ngFor="let item of [4,4,4]">
      <div class="col-lg-4 col-md-6 col-sm-6 col-6">
        <div class="global-card mx-1">
          <p-skeleton width="100%" height="11.5rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
          <div class="mt-2">
            <div class="d-flex gap-1 mb-2">
              <div>
                <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                  borderRadius="10px"></p-skeleton>
              </div>
              <div>
                <p-skeleton width="5rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
              </div>
            </div>
            <p-skeleton width="65%" height="1rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
            <div class="d-flex gap-1">
              <div>
                <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                  borderRadius="10px"></p-skeleton>
              </div>
              <div>
                <p-skeleton width="10rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf="type=='blogDetails'">
  <div class="global-card">
    <p-skeleton width="40%" height="1.2rem" styleClass="default-skeleton mb-3" borderRadius="10px"></p-skeleton>
    <div class="d-flex gap-3 mb-3">
      <div class="d-flex gap-1 mb-2">
        <div>
          <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
        </div>
        <div>
          <p-skeleton width="5rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
        </div>
      </div>
      <div class="d-flex gap-1 mb-2">
        <div>
          <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
        </div>
        <div>
          <p-skeleton width="5rem" height=".8rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
        </div>
      </div>
    </div>
    <p-skeleton width="100%" height="20.5rem" styleClass="default-skeleton mb-3" borderRadius="10px"></p-skeleton>
    <div>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="100%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="80%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
      <p-skeleton width="70%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
    </div>
  </div>
  <div class="mt-5">
    <h3 class="mb-4">
      <p-skeleton width="20%" height="1rem" styleClass="default-skeleton"></p-skeleton>
    </h3>
    <div class="row">
      <ng-container *ngFor="let item of [4,4,4]">
        <div class="col-lg-4 col-md-6 col-sm-6 col-6 mt-4">
          <div class="global-card mx-1">
            <p-skeleton width="100%" height="11.5rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
            <div class="mt-2">
              <div class="d-flex gap-1 mb-2">
                <div>
                  <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
                <div>
                  <p-skeleton width="5rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
              </div>
              <p-skeleton width="65%" height="1rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <div class="d-flex gap-1">
                <div>
                  <p-skeleton width="1.5rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
                <div>
                  <p-skeleton width="10rem" height=".8rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="mt-5">
    <h3 class="mb-4">
      <p-skeleton width="20%" height="1rem" styleClass="default-skeleton"></p-skeleton>
    </h3>
    <div class="row">
      <ng-container *ngFor="let item of [4,9,9,8]">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4">
          <div class="global-card">
            <p-skeleton width="100%" height="16rem" styleClass="default-skeleton" borderRadius="10px"></p-skeleton>
            <div class="mt-2">
              <p-skeleton width="50%" height="1rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <p-skeleton width="40%" height=".7rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <p-skeleton width="90%" height=".8rem" styleClass="default-skeleton mb-2"></p-skeleton>
              <div class="row mt-2">
                <div class="col-9">
                  <p-skeleton width="100%" height="2.4rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
                <div class="col-3">
                  <p-skeleton width="100%" height="2.4rem" styleClass="default-skeleton"
                    borderRadius="10px"></p-skeleton>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="type=='faqs'">
  <div>
    <h3 class=" mb-5">
      <p-skeleton width="6rem" height="1rem" styleClass="default-skeleton " borderRadius="10px"></p-skeleton>
    </h3>

    <ng-container *ngFor="let item of [3,3,8,3]">
      <p-skeleton width="100%" height="3rem" styleClass="default-skeleton mb-3" borderRadius="10px"></p-skeleton>

    </ng-container>

  </div>
</ng-container>