<div id="modal-form">
  <div class="d-flex justify-content-between p-3 pt-0
  ">
    <h6 class="mb-0 fs-5">
      {{'general.filter'|translate}}
    </h6>
    <a (click)="cancel()">
      <i class="pi pi-times"></i>
    </a>
  </div>
  <div class="filter-content">
    <form [formGroup]="modalForm" (ngSubmit)="submit()" class="mx-2">
      <div class="row mx-0">
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="fullName" class="mb-2 required">{{'labels.fullName'|translate}}</label>
            <input type="text" class="form-control" formControlName="fullName"
              (input)="publicService?.clearValidationErrors(formControls?.fullName)"
              [class.border-red]="formControls?.fullName?.invalid && (formControls?.fullName?.dirty || formControls?.fullName?.touched)"
              placeholder="{{'placeholders.fullName'|translate}}">
            <div class="mt-2">
              <ng-container
                *ngIf="formControls?.fullName?.invalid && (formControls?.fullName?.dirty || formControls?.fullName?.touched)">
                <ng-container *ngIf="formControls?.fullName?.errors?.['required']">
                  <span class="text-danger fs-8">
                    {{'validations.requiredField'|translate}}
                  </span>
                </ng-container>

                <ng-container *ngIf="formControls?.fullName?.errors?.['minlength']">
                  <span class="text-danger fs-8 d-block">
                    {{'validations.nameLength'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="id" class="mb-2 required">{{'labels.id'|translate}}</label>
            <input type="number" class="form-control" formControlName="id"
              (input)="publicService?.clearValidationErrors(formControls?.id)"
              [class.border-red]="formControls?.id?.invalid && (formControls?.id?.dirty || formControls?.id?.touched)"
              placeholder="{{'placeholders.id'|translate}}">
            <div class="mt-2">
              <ng-container *ngIf="formControls?.id?.invalid && (formControls?.id?.dirty || formControls?.id?.touched)">
                <ng-container *ngIf="formControls?.id?.errors?.['required']">
                  <span class="text-danger fs-8">
                    {{'validations.requiredField'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="phoneNumber" class="mb-2 required">{{'labels.phoneNumber'|translate}}</label>
            <input type="text" class="form-control" formControlName="phoneNumber" autocomplete="cc-name" [min]="0"
              (input)="publicService?.clearValidationErrors(formControls?.phoneNumber)"
              [class.border-red]="formControls?.phoneNumber?.invalid && (formControls?.phoneNumber?.dirty || formControls?.phoneNumber?.touched)"
              placeholder="{{'placeholders.phoneNumber'|translate}}">
            <div class="mt-2">
              <ng-container
                *ngIf="formControls?.phoneNumber?.invalid && (formControls?.phoneNumber?.dirty || formControls?.phoneNumber?.touched)">
                <ng-container *ngIf="formControls?.phoneNumber?.errors?.['required']">
                  <span class="text-danger fs-8">
                    {{'validations.requiredField'|translate}}
                  </span>
                </ng-container>

                <ng-container *ngIf="formControls?.phoneNumber?.errors?.['pattern']">
                  <span class="text-danger fs-8 d-block">
                    {{'validations.phone_length'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="mb-3">
            <label for="birthDate" class="mb-2 required">{{'labels.birthDate'|translate}}</label>
            <div
              [class.border-red]="formControls?.birthDate?.invalid && (formControls?.birthDate?.dirty || formControls?.birthDate?.touched)"
              class="birthDate">
              <p-calendar formControlName="birthDate" appendTo="body" [showIcon]="true" inputId="icon"
                [readonlyInput]="true" [styleClass]="'date-picker'" placeholder="{{'labels.birthDate'| translate}}"
                [showButtonBar]="true" [todayButtonStyleClass]="'d-none'" dateFormat="dd/mm/yy"
                hourFormat="12"></p-calendar>
            </div>
            <div class="mt-2">
              <ng-container
                *ngIf="formControls?.birthDate?.invalid && (formControls?.birthDate?.dirty || formControls?.birthDate?.touched)">
                <ng-container *ngIf="formControls?.birthDate?.errors?.['required']">
                  <span class="text-danger fs-8">
                    {{'validations.requiredField'|translate}}
                  </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <button type="submit"
        class="btn btn-solid-main d-flex align-items-center justify-content-center gap-2 w-100 fs-5-1 mt-3">
        <span>
          {{'general.filter'|translate}}
        </span>
        <i class="pi pi-filter"></i>
      </button>
    </form>
  </div>
</div>