<nav class="navbar-mobile w-100 shadow-sm d-flex align-items-center">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center w-100">
      <button class="menu-icon bg-transparent border-0" (click)="openSidebar()">
        <!-- Menu icon lines -->
        <button class="menu-icon bg-transparent border-0" (click)="openSidebar()">
          <div class="line mb-1"></div>
          <div class="line line2 mb-1"></div>
          <div class="line line3"></div>
        </button>
      </button>
      <language-selector></language-selector>
    </div>
  </div>
</nav>

<p-sidebar [(visible)]="displayMenu" [position]="currentLanguage == 'ar' ? 'right' : 'left'">
  <div class="overlay position-absolute"></div>
  <div class="position-relative">
    <div class="d-flex align-items-center justify-content-end my-4">
      <a class="close d-flex justify-content-center align-items-center rounded-circle text-white-color" title="close"
        (click)="closeSidebar()">
        <i class="pi pi-times fs-8"></i>
      </a>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center gap-2">
      <a class="log" (click)="closeSidebar()" [routerLink]="['/home']" title="logo">
        <img src="assets/images/logo/logo.webp" alt="logo" class="logo">
      </a>
    </div>
    <div class="mt-5 relative">
      <ul class="p-0">
        <ng-container *ngFor="let item of navItems">
          <!-- Check if the current item has children -->
          <ng-container *ngIf="item.children && item.children.length > 0; else linkView">
            <h5 class="m-0">
              <a class="text-black d-block my-3">
                {{ item.title }}
              </a>
            </h5>
            <!-- Accordion container for child items -->
            <div class="accordion" id="accordion{{ item.title }}">
              <div class="accordion-item" *ngFor="let child of item.children; let i = index">
                <h5 class="accordion-header" id="heading{{ i }}">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                  [attr.data-bs-target]="'#collapse' + i" aria-expanded="true" [attr.aria-controls]="'collapse' + i">
                    <a [routerLink]="child.route" class="parent-link py-2 ms-3">
                      {{ child.title }}
                    </a>
                  </button>
                </h5>
                <!-- Accordion body -->
                <div [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
                [attr.data-bs-parent]="'#accordion' + item.title">
                <!-- Nested unordered list for child items -->
                <div class="accordion-body">
                  <ul class="p-0">
                    <li *ngFor="let subItem of item.children">
                      <a [routerLink]="subItem.route" class="child-link ms-3">
                        {{ subItem.title }}
                      </a>
                    </li>
                  </ul>
                </div>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- If item does not have children, render as a simple link -->
          <ng-template #linkView>
            <h5>
              <a [routerLink]="item.route" class="text-black">
                {{ item.title }}
              </a>
            </h5>
          </ng-template>
        </ng-container>

      </ul>
    </div>
  </div>
</p-sidebar>

<!-- <li class="nav-item" *ngIf="!item.logout || isUserLoggedIn" class="accordion-button" type="button"
  data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  <a class="nav-link text-white-color d-flex gap-2" (click)="item.logout ? logOut() : closeSidebar()"
    [routerLink]="item.route" routerLinkActive="active">
    <svg-icon [src]="'assets/icons/' + item.icon +/ '.svg'"></svg-icon>
    {{ item.label | translate }}
  </a>
</li> -->
