<div class="btn customer-service w-100 ">
  <a class="w-100" [href]="'https://web.whatsapp.com/send?phone='+whatsPhoneNum+'&text&app_absent=0'" target="_blank">
    <button type="button" id="fixedbutton" aria-label="fixed_button"
      class="btn btn-second-main d-flex align-items-center customer-service-btn shadow-lg px-2 gap-2"
      [class.customer-btn]="scrollTop">
      <img src="assets/images/icons/customers-service.svg" class="scaleX-rtl" alt="customers-service">
      <!-- <span class="d-lg-block d-md-block d-sm-none d-none ps-1 pe-2">
        {{'fixedButtons.customersService' | translate}}
      </span> -->
    </button>
  </a>
</div>