<div class="py-2 border-bottom">
  <div class="container">
    <div class="d-flex justify-content-between gap-2 align-items-center">
      <div class="d-flex gap-3 align-items-center">
        <div class="logo-app d-flex justify-content-center align-items-center">
          <img src="assets/images/main/logos/logo_talbinah.png" width="35px" alt="logo">
        </div>
        <div>
          <h6 class="title fw-bold mb-0">تطبيق تلبينه Talbinah</h6>
          <p class="text-muted-color desc mb-0">استشارات نفسية وأسرية</p>
          <div class="d-flex gap-1 text-muted-color desc align-items-center flex-wrap">
            <p-rating [(ngModel)]="rate" [disabled]="true" [cancel]="false"></p-rating>
            4.0 <span>(406k+)</span>
          </div>
        </div>
      </div>
      <div class="d-flex gap-2">
        <a class="app-icon d-flex justify-content-center align-items-center"
          href="https://play.google.com/store/apps/details?id=com.talbinah.talbinah&pli=1" target="_blank">
          <img src="assets/images/icons/google-play2.png" width="22px" alt="google-play2">
        </a>
        <a class="app-icon d-flex justify-content-center align-items-center"
          href="https://apps.apple.com/us/app/%D8%AA%D9%84%D8%A8%D9%8A%D9%86%D8%A9-talbinah/id6464413895"
          target="_blank">
          <img src="assets/images/icons/app-store2.png" width="22px" alt="app-store2">
        </a>
      </div>
      <!-- <a class="px-3 py-2 bg-main-color text-white-color rounded-pill">تحميل
        <i class="pi pi-"></i>
      </a> -->
    </div>
  </div>
</div>