<ng-container *ngIf="blogsList?.length>0">
  <ng-container *ngIf="!hideTitle">
    <div class="mb-4">
      <h3 class="text-main-color text-center vector-bg fw-bold">
        {{title | translate}}
      </h3>
    </div>
  </ng-container>
  <div class="see-all px-2 w-100 d-flex justify-content-end">
    <a [routerLink]="['/blogs']"
      class="text-main-color fw-bold px-1 fs-10 d-flex align-items-center justify-content-center see-all-btn">
      {{'general.seeAll' | translate}}
      <i class="fas fa-arrow-right text-main-color scaleX-rtl px-2 fs-8"></i>
    </a>
  </div>
  <ng-container>
    <div class="blogs">
      <div class="row">
        <ng-container *ngFor="let blog of publicService.slicedData(blogsList,6); let i=index">
          <div class="col-lg-4 col-md-6 mt-4" data-aos="fade-up" [attr.data-aos-delay]="50+ i * 50">
            <a [routerLink]="['/blogs/details/',blog.title]" [queryParams]="{ id: blog.id}">
              <div class="item card h-100">
                <div class="hero-content position-relative">
                  <img class="w-100 hero-image" [src]="imageBaseUrl+blog?.image"
                    onerror="this.src='assets/images/dummy/blogs/blogsImage.png'" alt="logo" />
                </div>
                <div class="px-2 d-flex flex-column justify-content-between h-100">
                  <div class="mx-2">
                    <p class="text-muted mb-0 fs-12 mt-2">
                      <i class="fas fa-list-alt text-main-color mx-1"></i>
                      <!-- <ng-container *ngFor="let item of blog?.categories; let i =index">
                        <span *ngIf="i>=1"> / </span>
                        <span role="button" routerLink='/doctors' [queryParams]="{ category_id: item?.id}">
                          {{item?.title}}
                        </span>
                      </ng-container> -->
                      <span>
                        {{blog?.category}}
                      </span>
                    </p>
                    <h6 class="fw-bold text-black mt-2 my-0">
                      {{blog?.title}}
                    </h6>
                    <span class="d-flex text-muted mt-3 fs-10">
                      <span id="someDiv" class="w-100 text-truncate">
                        {{blog?.description}}
                      </span>
                    </span>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mt-2 mx-2">
                    <ng-container *ngIf="blog?.author">
                      <div class="d-flex align-items-center mb-0">
                        <img [src]="blog?.author?.image" width="40" height="40"
                          onerror="this.src='assets/images/dummy/doctors/eslam.jpg'" alt="doctor-img"
                          class="thumbil-img" />
                        <div class="mx-2 d-flex flex-column">
                          <span class="fs-10 color-secondary">
                            {{blog?.author?.name}}
                          </span>
                        </div>
                      </div>
                    </ng-container>
                    <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center w-100">
                      <p class="text-muted fs-12 mb-0">
                        <i class="fas fa-clock text-main-color"></i>
                        <span class="mx-1 fs-12">
                          {{ blog?.created_at | date: 'd MMM y HH:mm':'':currentLanguage }}
                        </span>
                      </p>
                      <p class="text-muted fs-12 mb-0">
                        <i class="fas fa-book text-main-color" data-toggle="tooltip" data-placement="top"
                          title="وقت القراءة"></i>
                        <span class="mx-1 fs-12">
                          {{ blog?.reading_time }} دقيقة
                        </span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-container>