.blogs {
  .thumbil-img {
    border: 2px solid var(--main-color);
    border-radius: 50%;
    height: 45px;
    width: 45px;
    object-fit: cover;
    box-shadow: 0 0.125rem 0.65rem #00000013;
  }

  .card {
    background-color: var(--bg-white-color);
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px #0000001a;
    padding: 1rem;
    border: none;
  }

  .hero-image {
    border-radius: 5px;
    height: 12rem;
    box-shadow: 0 0.125rem 0.65rem #00000013;
  }
}
