:host::ng-deep {
  .add-social {
    .p-dropdown .p-dropdown-label.p-placeholder,
    .p-dropdown .p-dropdown-trigger,
    .p-dropdown {
      background-color: var(--bg-input-color);
      border-color: var(--border-input-color);
      border-radius: var(--border-input-radius);
    }
  }
}
.bg-linkedin {
  background: #0a66c2;
}

.bg-youtube {
  background: #fe0000;
}

.bg-twitter {
  background: #2aa9e0;
}

.bg-color-face {
  background: #0e8df2;
}
.bg-color-instagram {
  background-color: darkmagenta;
}
.icon-social-settings {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
