.input-group {
  .form-control {
    border-radius: var(--border-input-radius) !important;
  }
}
.p-multiselect-panel
  .p-multiselect-header
  .p-multiselect-filter-container
  .p-inputtext,
.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
  padding-right: 2.4rem !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  margin: 5px 0px 5px 10px !important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  background-color: #284a6f1c !important;
}
#auth-form {
  .p-inputgroup-addon:first-child {
    border-radius: 0 var(--border-input-radius) var(--border-input-radius) 0 !important;
  }
  .p-input-icon-right > .p-icon-wrapper {
    left: 0.75rem !important;
    right: initial !important;
  }
  .rounded-start-0 {
    border-radius: var(--border-input-radius) 0 0 var(--border-input-radius) !important;
  }
  .border-start-0 {
    border-right: 0 !important;
    border-left: 1px solid #d8d8d8 !important;
  }
  .bg-form {
    border-radius: 0 var(--border-modal-radius) var(--border-modal-radius) 0 !important;
  }
}
.p-radiobutton-label {
  margin-right: 0.5rem !important;
  margin-left: initial !important;
}
.form-check .form-check-input {
  float: right !important;
  margin-right: -1.5em !important;
  margin-left: inherit !important;
}
.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ) {
  border-radius: 0 10px 10px 0 !important;
}
.input-group
  > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
    .valid-feedback
  ):not(.invalid-tooltip):not(.invalid-feedback) {
  border-radius: 10px 0 0 10px !important;
  margin: 0 !important;
}
.was-validated .form-control:invalid,
.form-control.is-invalid {
  background-position: left calc(0.375em + 0.1875rem) center !important;
  padding-left: calc(1.5em + 0.75rem) !important;
  padding-right: inherit !important;
}
.p-input-icon-right > .p-icon-wrapper,
.p-input-icon-right > i:last-of-type {
  left: 0.75rem !important;
  right: inherit !important;
}
.p-calendar {
  .p-inputtext {
    border-radius: 0 var(--border-input-radius) var(--border-input-radius) 0 !important;
    border: 0 !important;
  }
  .p-datepicker-trigger {
    border: 0 !important;
    border-radius: var(--border-input-radius) 0 0 var(--border-input-radius) !important;
  }
}
.p-dropdown .p-dropdown-label {
  line-height: 2;
}
.p-multiselect-clearable .p-multiselect-label-container {
  padding-left: 1.75rem !important;
  padding-right: inherit !important;
  display: flex !important;
}
.p-multiselect-clearable .p-multiselect-clear-icon {
  left: 3rem !important;
  right: inherit !important;
}
.p-datepicker .p-datepicker-header .p-datepicker-prev,
.p-datepicker .p-datepicker-header .p-datepicker-next {
  transform: scaleX(-1) !important;
}
.form-control::placeholder,
.p-inputtext::placeholder,
.p-dropdown .p-dropdown-label.p-placeholder,
.p-multiselect .p-multiselect-label.p-placeholder {
  color: #929191 !important;
}
