<div id="discount-ploicy">
  <div class="container">
    <div class="discountPolicyHero">
      <div class="row align-items-center">
        <div class="col-md-7 py-4">
          <p>
            في سياسة الخصم الخاصة بنا، نولي أهمية كبيرة لحماية خصوصيتك. هذه الصفحة توضح المعلومات التي نقوم بجمعها،
            وكيفية استخدامها، وحقوقك فيما يتعلق بالخصومات والعروض.
          </p>
          <div class="mt-4">
            <h3 class="fw-bold mb-5 dectorated-title">
              سياسة إلغاء المواعيد:
            </h3>
            <p>
              تطبق السياسات بعد اطلاق التطبيق وبناء قاعدة عملاء
              تنظيم عملية إلغاء المواعيد في التطبيق.
            </p>
            <p class="mt-2">
              بإمكان العميل إلغاء موعد الجلسة واستعادة كامل المبلغ للمحفظة قبل 24 ساعة من موعد انعقادها
              في حال رغبة العميل بإلغاء الجلسة في مدة بين 24 ساعة الى 3 ساعات من موعد انعقادها يتم استعادة 70% من الرسوم
              المدفوعة في محفظة العميل
              في حال رغبة العميل بإلغاء الجلسة في مدة اقل من 3 ساعات من موعد انعقادها يتم استعادة 50% فقط من المبلغ
              المدفوع في محفظة العميل
              في حال تخلف العميل عن موعد الجلسة، وتم الغاءها يتم استعادة 50% فقط من المبلغ المدفوع في محفظة العميل
              في حال تعليق الموعد لمدة 30 يوم من تاريخ الحجز سيتم إلغاءه بشكل تلقائي واستعادة 50% فقط من المبلغ المدفوع
              في محفظة العميل
            </p>
          </div>
        </div>
        <div class=" col-md-5">
          <img src="assets/images/privacy/discount.png" class="w-100" alt="discount-image">
        </div>
      </div>
    </div>
    <div class="mt-4">
      <h3 class="fw-bold mb-5 dectorated-title">
        سياسة الاسترجاع:
      </h3>
      <p>
        تطبق السياسات بعد اطلاق التطبيق وبناء قاعدة عملاء
      </p>
      <h4 class="mt-2">
        يتم استرجاع مبلغ الجلسات للعميل في الحالات التالي:
      </h4>
      <p class="mt-3 d-flex gap-2">
        <i class="pi pi-bookmark"></i>
        <span>
          في حال عدم التزام العميل وتم تعليق الموعد من المختص لمدة تتجاوز الشهر سيتم خصم 50% من المبلغ واسترجاع المبلغ
          المتبقي لمحفظة العميل بشكل تلقائي
          بإمكان العميل طلب استرجاع كامل المبلغ المدفوع قبل 24 ساعة من موعد الجلسة
          يحق للعميل طلب استرجاع 70% من المبلغ المدفوع في الفترة ما بين 24 ساعة إلى 3 ساعات قبل موعد الجلسة

        </span>
      </p>
      <p class="mt-1 d-flex gap-2">
        <i class="pi pi-bookmark"></i>
        يحق للعميل طلب استرجاع كامل المبلغ المدفوع في حال تخلف المختص عن موعد الجلسة.
      </p>
      <p class="mt-1 d-flex gap-2">
        <i class="pi pi-bookmark"></i>
        يحق للعميل طلب استرجاع كامل المبلغ المدفوع في حال حدوث خلل تقني من التطبيق.
      </p>
      <p class="mt-1 d-flex gap-2">
        <i class="pi pi-bookmark"></i>
        لا يحق للعميل استرجاع مبلغ الجلسة في حال تم إكمال الجلسة.
      </p>
      <p class="mt-1 d-flex gap-2">
        <i class="pi pi-bookmark"></i>
        لا يحق للعميل استرجاع مبلغ الجلسة أو جزء منه في حال طلب إنهاء الجلسة قبل انتهاء المدة الزمنية للجلسة.
      </p>
    </div>
  </div>
</div>