<div class="user-info-dropdown general-dropdown">
  <div class="dropdown">
    <button class="dropdown-toggle lang-flag btn p-0 d-flex align-items-start gap-4 border-0" type="button"
      data-bs-toggle="dropdown" aria-expanded="false">
      <div class="text-start">
        <p class="mb-0 text-capitalize">
          ahmed
        </p>
        <p class="mb-0 text-muted-color">
          CEO
        </p>
      </div>
      <i class="pi pi-angle-down fs-8 mt-1"></i>
    </button>
    <ul class="dropdown-menu rounded-25 border-0 shadow p-3" aria-labelledby="dropdownMenuButton1">
      data
    </ul>
  </div>
</div>