.speciality-image {
  overflow: hidden;
  border-radius: 1rem 1rem 0 0;
  width: 150px;
  height: 150px;
}

@media (max-width: 560px) {
  .speciality-image {
    width: 110px;
    height: 110px;
  }
  .title {
    font-size: 1.1rem;
  }
}
