<!-- <ng-container *ngIf="isLoadingCard">
  <app-card-shimmer></app-card-shimmer>
</ng-container>
<ng-container *ngIf="!isLoadingCard"> -->

<ng-container *ngIf="specialitiesList?.length>0">
  <h3 class="dectorated-title text-main-color fw-bold mb-2">
    {{'titles.ourSpecialities' | translate}}
  </h3>
  <div class="row">
    <ng-container *ngFor="let item of specialitiesList; let i = index">
      <div class="col-xl-3 col-md-6 col-sm-6 col-6 mt-4" data-aos="fade-up" [attr.data-aos-delay]="50+ i * 50">
        <a [routerLink]="['/doctors']" [queryParams]="{ category_id: item?.id}">
          <div class="global-card text-center h-100">
            <img [src]="item?.image" class="speciality-image scaleX-rtl p-3"
              onerror="this.src='assets/images/main/specialities/psyCoun.svg'" alt="specialityImage">
            <h5 class="mt-sm-4 mt-1 title">
              {{item?.name}}
            </h5>
          </div>
        </a>
      </div>
    </ng-container>
  </div>
</ng-container>

<!-- </ng-container> -->