<div id="homePage">

  <section id="hero-section">
    <div class="container">
      <div class="content-hero">
        <div class="row m-0 g-0 align-items-center justify-content-center">
          <div class="col-md-7 col-sm-12 order-lg-1 order-md-1 order-sm-2 order-2 pb-md-0 pb-4">
            <div class="content-text justify-content-center-small" data-aos="fade-left" data-aos-duration="1000">
              <owl-carousel-o class="hero-slider" [options]="heroSlider">
                <ng-container *ngFor="let slide of homePageData?.hero?.slider">
                  <ng-template carouselSlide>
                    <div>
                      <h2 class="text-main-color text-center-small mb-3">
                        {{slide?.title | translate}}
                      </h2>
                      <p class="w-lg-75 w-md-75 w-sm-100 text-center-small w-100 lh-md">
                        {{slide?.sub_title| translate}}
                      </p>
                    </div>
                  </ng-template>
                </ng-container>
              </owl-carousel-o>
              <a class="text-main-color fw-bold mt-2">
                <span class="d-flex align-items-center justify-content-center-small gap-2">
                  <span>
                    {{'general.readMore'| translate}}
                  </span>
                  <i class="pi pi-arrow-circle-right scaleX-rtl"></i>
                </span>
              </a>
              <div class="downloadApp mt-5">
                <h6 class="text-main-color text-center-small mb-3">
                  {{'general.downloadApps' | translate}}
                </h6>
                <div class="d-flex align-items-center justify-content-center-small flex-wrap gap-4">
                  <a href="https://apps.apple.com/us/app/%D8%AA%D9%84%D8%A8%D9%8A%D9%86%D8%A9-talbinah/id6464413895"
                    target="_blank">
                    <img src="assets/images/main/downloadsChannels/app-store.svg" class="apps-image" alt="app-store">
                  </a>
                  <a href="https://play.google.com/store/apps/details?id=com.talbinah.talbinah&pli=1" target="_blank">
                    <img src="assets/images/main/downloadsChannels/google-play.svg" class="apps-image"
                      alt="google-play">
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-5 col-sm-12 order-lg-2 order-md-2 order-sm-1 order-1">
            <img class="heroImage img-fluid fit-object-cover w-100 mt-4" [src]="homePageData?.image"
              data-aos="fade-right" data-aos-duration="1000"
              onerror="this.src='assets/images/main/homePage/heroImage.png'" alt="hero-img" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="specialities-section" class="our-specialities mt-5">
    <div class="container">
      <ng-container *ngIf="isLoadingHomeData; else noLoadingSpecialities">
        <app-skeleton [type]="'specialites'"></app-skeleton>
      </ng-container>
      <ng-template #noLoadingSpecialities>
        <div class="content-specialities">
          <app-specialities-slider></app-specialities-slider>
        </div>
      </ng-template>
    </div>
  </section>

  <section class="trending-doctors mt-5">
    <div class="container">
      <ng-container *ngIf="isLoadingHomeData; else noLoadingDoctors">
        <app-skeleton [type]="'doctors'"></app-skeleton>
      </ng-container>
      <ng-template #noLoadingDoctors>
        <div class="content-suggested-doctors">
          <app-doctors-slider></app-doctors-slider>
        </div>
      </ng-template>
    </div>
  </section>

  <ng-container *ngIf="homePageData?.steps?.list?.length>0;">
    <section id="steps-section" class="steps-for-try py-5">
      <div class="container">
        <h3 class="text-main-color dectorated-title fw-bold">
          {{homePageData?.steps?.title | translate}}
        </h3>
        <div class="row">
          <div class="col-xl-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt-md-0 mt-3">
            <div class="content-steps">
              <ng-container *ngFor="let item of homePageData?.steps?.list; let i = index">
                <div class="mt-md-5 mt-4" data-aos="fade-up" [attr.data-aos-delay]="50+ i * 50">
                  <div class="d-flex align-items-center">
                    <span class="step-num fw-bold text-center">
                      {{i+1}}
                    </span>
                    <h4 class="mb-0 mx-3">
                      {{item?.title | translate}}
                    </h4>
                  </div>
                  <p class="mb-0 mt-3 lead px-md-5">
                    {{item?.body | translate}}
                  </p>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 col-sm-12 col-12 pt-md-5 pt-4 order-lg-2 order-md-2 order-sm-1 order-1">
            <div class="w-100 mt-md-5 mt-4 d-flex justify-content-center">
              <img class="image-step w-75 h-100" [src]="homePageData?.steps?.image"
                onerror="this.src='assets/images/main/homePage/stepsVector.png'" alt="steps-image" data-aos="fade-right"
                data-aos-duration="1000" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>

  <section class="testimonials blogs-slider py-5">
    <div class="container">
      <ng-container *ngIf="isLoadingHomeData; else noLoadingBlogs">
        <app-skeleton [type]="'blogs'"></app-skeleton>
      </ng-container>
      <ng-template #noLoadingBlogs>
        <app-blogs-slider></app-blogs-slider>
      </ng-template>
    </div>
  </section>

  <section class="testimonials py-5">
    <div class="container">
      <ng-container *ngIf="isLoadingHomeData; else noLoadingTestimonials">
        <app-skeleton [type]="'testimonials'"></app-skeleton>
      </ng-container>
      <ng-template #noLoadingTestimonials>
        <app-testimonials-slider [title]="'titles.testimonials'"></app-testimonials-slider>
      </ng-template>
    </div>
  </section>

  <section id="downloadApps-section mt-5">
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6 col-12">
          <img class="heroImage img-fluid fit-object-cover w-100" [src]="homePageData?.image" data-aos="fade-left"
            data-aos-duration="1000" onerror="this.src='assets/images/main/homePage/downloadMopApp.png'"
            alt="hero-img" />
        </div>

        <div class="col-md-6 col-12 mt-md-0 mt-3" data-aos="fade-right" data-aos-duration="1000">
          <div class="d-flex flex-column justify-content-center align-items-center w-100">
            <h2 class="text-main-color mb-3 text-md-start text-center fw-bold">
              {{'homePage.downloadApp.title' | translate}}
            </h2>
            <p class="lh-md text-md-start text-center">
              {{'homePage.downloadApp.subSitle' | translate}}
            </p>
          </div>
          <div class="downloadApp mt-md-5 mt-4">
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-4">
              <a href="https://apps.apple.com/us/app/%D8%AA%D9%84%D8%A8%D9%8A%D9%86%D8%A9-talbinah/id6464413895"
                target="_blank">
                <img src="assets/images/main/downloadsChannels/app-store.svg" class="apps-image" alt="app-store">
              </a>
              <a href="https://play.google.com/store/apps/details?id=com.talbinah.talbinah&pli=1" target="_blank">
                <img src="assets/images/main/downloadsChannels/google-play.svg" class="apps-image" alt="google-play">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>