#homePage {
  overflow: hidden;

  .apps-image {
    height: 3rem;
    width: 10rem;
  }

  .heroImage,
  .image-step {
    animation: moveTopBottom 3s ease-in-out infinite;

    &:hover {
      animation-play-state: paused;
    }
  }

  #hero-section {
    background: url("../../../../../assets/images/main/homePage/bgHero.png")
      no-repeat center / cover;
    min-height: calc(100vh - 121px);
  }

  #steps-section {
    .step-num {
      width: 3rem;
      height: 3rem;
      background: var(--bg-white-color) !important;
      line-height: 3rem;
      border-radius: 0.5rem;
      font-size: 1.3rem;
      box-shadow: 0 0 10px 0 rgb(82 63 105 / 15%);
    }

    .lead {
      color: var(--text-main-color);
    }
  }
}

@keyframes moveTopBottom {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }
}

@media (max-width: 991px) {
  #homePage #hero-section {
    min-height: auto;
    padding-bottom: 2rem;
  }
}

:host:ng-deep {
  #homePage {
    .owl-carousel .owl-stage-outer {
      padding-bottom: 1rem !important;
    }
  }
}
