<section class="footer py-4">
  <div class="content-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-10 col-sm-12 col-12">
          <div class="my-4 w-75 w-md-100 w-sm-100">
            <h5 class="text-white-color text-center-small">
              {{'footer.mainTitle' | translate}}
            </h5>
            <div class="my-3">
              <p class="text-center-small">
                {{'footer.description' | translate}}
              </p>
            </div>
            <div class="mt-4">
              <div
                class="d-flex align-items-center justify-content-sm-start justify-content-center flex-wrap gap-sm-4 gap-2">
                <a href="https://apps.apple.com/us/app/%D8%AA%D9%84%D8%A8%D9%8A%D9%86%D8%A9-talbinah/id6464413895"
                  target="_blank">
                  <img src="assets/images/main/downloadsChannels/app-store.svg" class="apps-image" alt="app-store">
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.talbinah.talbinah&pli=1" target="_blank">
                  <img src="assets/images/main/downloadsChannels/google-play.svg" class="apps-image" alt="google-play">
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr class="d-lg-none d-md-block d-block" />
        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
          <h5 class="text-white-color mt-4">{{'footer.quickLinks' | translate}}</h5>
          <ul class="list-unstyled p-0">
            <li>
              <a class="nav-link px-2 mb-2" [routerLink]="['/privacy']" [routerLinkActive]="'active-footer-link'"
                [routerLinkActiveOptions]="{'exact':true}">
                {{'footer.privacyPolicy' |translate}}
              </a>
            </li>
            <li>
              <a class="nav-link px-2 mb-2" [routerLink]="['/discount-policy']" [routerLinkActive]="'active-footer-link'"
                [routerLinkActiveOptions]="{'exact':true}">
                سياسة الخصم
              </a>
            </li>
            <li>
              <a class="nav-link px-2 mb-2" [routerLink]="['/terms-and-conditions']">
                {{'footer.termsCondition' |translate}}
              </a>
            </li>
            <li>
              <a class="nav-link px-2 mb-2" [routerLink]="['/faqs']" [routerLinkActive]="'active-footer-link'">
                {{'footer.faqs' |translate}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="my-4">
            <h5 class="text-white-color">
              {{'footer.contactUs' | translate}}
            </h5>
            <div class="my-3">
              <div class="d-flex align-items-center mb-3">
                <i class="pi pi-envelope px-2"></i>
                <span>
                  <a class="text-white-color text-decoration-none" href="mailto:{{'info@talbinah.net'}}"
                    target="_blank">
                    {{'info@talbinah.net'}}
                  </a>
                </span>
              </div>
              <div class="d-flex align-items-center">
                <i class="pi pi-phone px-2 scaleX-rtl"></i>
                <span class="dir-ltr">
                  <a class="text-white-color text-decoration-none" href="tel:{{'(+966) 552272756'}}" target="_blank">
                    {{'(+966) 552272756'}}
                  </a>
                </span>
              </div>
            </div>
            <hr />
            <div class="mt-4">
              <h5 class="text-white-color mb-2">
                {{'footer.followUs' | translate}}
              </h5>
              <nav class="nav gap-3">
                <a class="nav-link px-2" href="https://www.facebook.com/Talbinahco" target="_blank">
                  <i class="pi pi-facebook hover-icon"></i>
                </a>
                <a class="nav-link px-2" href="https://twitter.com/Talbinahco" target="_blank">
                  <svg [classList]="'hover-icon'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white"
                    class="bi bi-twitter-x" viewBox="0 0 16 16">
                    <path
                      d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z" />
                  </svg>
                </a>
                <a class="nav-link px-2" href="https://www.instagram.com/talbinahco/" target="_blank">
                  <i class="pi pi-instagram hover-icon"></i>
                </a>
                <a class="nav-link px-2"
                  href="https://www.linkedin.com/company/100702383/admin/feed/posts/?feedType=following&shareMsgArgs=null"
                  target="_blank">
                  <i class="pi pi-linkedin hover-icon"></i>
                </a>
                <a class="nav-link px-2" href="https://www.youtube.com/channel/UC9E9CQeyAkiWYjPqSG7FS_A"
                  target="_blank">
                  <i class="pi pi-youtube hover-icon"></i>
                </a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="mx-3" />
    <div class="container">
      <div class="copy-right d-flex text-center justify-content-center align-items-center">
        <span class="fw-blod">
          <!-- {{'footer.copyright' | translate}} -->
          حقوق الطيع والنشر بواسطة @ 2023تلبينة. كل الحقوق محفوظة
        </span>
      </div>
    </div>
  </div>
</section>