.footer {
  background: var(--bg-main-color);
  color: var(--text-white-color);

  .apps-image {
    height: 3rem;
    width: 10rem;
  }

  .input-group {
    background: var(--bg-white-color);
    border-radius: 10px !important;
  }

  .form-control {
    border: none;
    height: inherit;
  }

  .input-group button {
    height: 2.7rem;
    background: var(--bg-main-color);
    color: var(--text-white-color);
    border-color: var(--text-main-color);
    border-radius: 10px !important;
  }

  ul a.nav-link {
    text-decoration: none;
    color: var(--text-white-color);
    cursor: pointer;
    display: inline-block;
  }

  .nav .nav-link i {
    font-size: 1.3rem;
    color: var(--text-white-color);
  }
}

.active-footer-link {
  color: var(--text-third-color);
}

.hover-icon:hover {
  transform: scale(1.3);
  transition: all 0.2s;
}

@media (max-width: 991px) {
  .footer {
    hr.md {
      display: block !important;
    }

    .w-md-100 {
      width: 95% !important;
    }
  }
}
