<nav class="navbar navbar-expand-lg navbar-light bg-white-color py-0"
  (clickOutside)="collapsed == true ? collapsed = false :''">
  <div class="container px-0">
    <a class="navbar-brand" [routerLink]="['/home-page']">
      <img class="img-fluid header-logo" [src]="'assets/images/main/logos/logo_talbinah.png'"
        onerror="this.src='assets/images/main/logos/logo_talbinah.png'" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      [attr.aria-expanded]="!collapsed" (click)="collapsed = !collapsed">
      <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#111" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [class.show]="collapsed">
      <ul class="navbar-nav align-items-center me-auto mb-3 mb-lg-0">
        <ng-container *ngIf="userData?.data?.role === 'doctor' || userData?.data?.role === 'Doctor'; else elsePatient">
          <!-- <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['/user/doctor/up']" routerLinkActive="active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              [routerLinkActiveOptions]="{exact: true}">{{'navigationHeader.appointments' |
              translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['/user/doctor/clients']" routerLinkActive="active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              [routerLinkActiveOptions]="{exact: true}">{{'navigationHeader.clients' |
              translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['/user/doctor/invoices']" routerLinkActive="active"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              [routerLinkActiveOptions]="{exact: true}">{{'navigationHeader.invoices' |
              translate}}</a>
          </li> -->
        </ng-container>
        <ng-template #elsePatient>
          <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['/home-page']" [routerLinkActive]="'active'"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"
              [routerLinkActiveOptions]="{exact: true}">
              {{'navigationHeader.home' |translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['doctors']" [routerLinkActive]="'active'" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">
              {{'navigationHeader.doctors'| translate}}
            </a>
          </li>
          <li class="nav-item" *ngIf="isloggedIn">
            <a class="nav-link px-3" [routerLink]="['/user/patient/favorite']" [routerLinkActive]="'active'"
              data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">
              {{"user_info.favorites"|translate}}
            </a>
          </li>

          <!-- comming soooooon -->
          <!-- <li class="nav-item">
                        <a class="nav-link px-3" routerLink="psychological-tests" routerLinkActive="active"
                            data-bs-toggle="collapse"
                            data-bs-target=".navbar-collapse.show">{{"user_info.psychological_tests"|translate}}</a>
                    </li> -->

          <li class="nav-item" *ngIf="!isloggedIn">
            <a class="nav-link px-3" [routerLink]="['join-us']" [routerLinkActive]="'active'" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">
              {{'navigationHeader.join' |translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['/blogs']" [routerLinkActive]="'active'" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">
              {{'navigationHeader.blogs'| translate}}
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3" [routerLink]="['/contact']" [routerLinkActive]="'active'" data-bs-toggle="collapse"
              data-bs-target=".navbar-collapse.show">
              {{'navigationHeader.contact'| translate}}
            </a>
          </li>
        </ng-template>
      </ul>
      <ul class="navbar-nav align-items-center mb-3 mb-lg-0">
        <ng-container *ngIf="isloggedIn">
          <li class="nav-item" role="button">
            <!-- <app-notifications></app-notifications> -->
          </li>
          <div class="d-flex hr-container">
            <div class="vr mx-1"></div>
          </div>
          <li class="nav-item">
            <!-- <app-user-info></app-user-info> -->
          </li>
        </ng-container>
        <ng-container *ngIf="!isloggedIn">
          <div class="d-flex flex-row align-items-center gap-2 flex-wrap justify-content-center-small">
            <!-- <li class="nav-item d-md-none d-block">
              <app-languages-selector></app-languages-selector>
            </li> -->
            <span class="nav-item">
              <button class="btn btn-solid-main text-nowrap py-2" (click)="collapsed = false"
                [routerLink]="['/auth/login']">
                <span class="d-flex align-items-center justify-content-center gap-2">
                  <i class="pi pi-sign-in"></i>
                  <span>
                    {{'navigationHeader.login' |translate}}
                  </span>
                </span>
              </button>
            </span>
            <span class="nav-item">
              <button class="btn btn-outline-main text-nowrap py-2" (click)="collapsed = false"
                [routerLink]="['/doctor-registeration']">
                <span class="d-flex align-items-center justify-content-center gap-2">
                  <i class="pi pi-user-plus"></i>
                  <span>
                    {{"navigationHeader.signUp"|translate}}
                  </span>
                </span>
              </button>
            </span>
          </div>
          <div>
            <span class="nav-item d-md-none d-block">
              <a class="nav-link text-dark-color px-1">
                <div class="d-flex align-items-center gap-2">
                  <i class="pi pi-envelope"></i>
                  <span>
                    talbinah@talbinah.com
                  </span>
                </div>
              </a>
            </span>
          </div>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>