html {
  scroll-behavior: smooth;
}

*:focus,
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

ol,
ul {
  list-style: none !important;
  margin: 0 !important;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none !important;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: inherit;
}

.me-auto {
  margin-inline-start: auto !important;
  margin-inline-end: inherit !important;
}

img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.w-85 {
  width: 85%;
}

.w-15 {
  width: 15%;
}

.w-90 {
  width: 90%;
}

.w-10 {
  width: 10%;
}

.w-content {
  width: fit-content;
}

.modal-open {
  overflow: hidden !important;
}

.btn:first-child:active,
.btn.show {
  // border: 0 !important;
}

.fit-contain {
  object-fit: contain !important;
}

.fit-object-cover {
  object-fit: cover !important;
}

.fs-lg {
  font-size: 2.8rem;
}

.fs-4-1 {
  font-size: 1.4rem !important;
}

.fs-5-1 {
  font-size: 1.1rem !important;
}

.fs-5-2 {
  font-size: 1.05rem !important;
}

.fs-6-1 {
  font-size: 0.9rem !important;
}

.fs-7 {
  font-size: 0.95rem !important;
}

.fs-8 {
  font-size: 0.85rem !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.py-7 {
  padding: 5rem 0;
}

.pt-7 {
  padding-top: 5rem;
}

.pointer {
  cursor: pointer;
}

.ellipsis-text {
  overflow: hidden;
  white-space: inherit;
  text-overflow: ellipsis;
  width: 100%;
}

hr {
  background-color: #ccc !important;
}

.pt-global-header {
  padding-top: 8rem;
}

.global-card {
  background-color: var(--bg-white-color);
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001a;
  padding: 1rem;
}

.rounded-card {
  border-radius: var(--border-card-radius);
}

.pointer {
  cursor: pointer !important;
}

.normal-rounded {
  border-radius: 1rem !important;
}

.normal-border {
  border: 1px solid rgba(140, 149, 163, 0.24) !important;
}

.modal-open {
  overflow: hidden !important;
}

.general-dropdown {
  .dropdown-menu {
    right: 0 !important;
    left: inherit !important;
  }
}

.dropdown-toggle::after {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.swiper-slide {
  height: initial !important;
}

label.star,
p-rating .p-disabled,
p-rating .p-disabled * {
  padding: 0.5px !important;
  font-size: 8px !important;
  color: #ffa359 !important;
  gap: 0.025rem !important;
}

input.star:checked~label.star:before {
  color: #ffa359 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

small,
.text_small {
  font-size: 0.7em;
}

.dectorated-title {
  position: relative !important;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 0;
    background-color: var(--bg-main-color);
    border: 1.5px solid var(--text-main-color);
    width: 35% !important;
  }
}

.vector-bg {
  background-image: url(../../assets/images/main/vectorTitle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.owl-carousel {
  .owl-stage-outer {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

i.custom-heart {
  font-size: 1.5rem;
  padding: 0.65rem;
}

.ellipsis-text {
  overflow: hidden;
  white-space: inherit;
  text-overflow: ellipsis;
  width: 100%;
}

.ellipsis-2 {
  line-height: 1.2rem;
  height: 2.4rem;
}

.ratings {
  .fa-star {
    font-size: 13px !important;
    color: #eee;
  }

  .active {
    color: #ff5851 !important;
  }
}

.online {
  display: inline-block;

  &:before {
    border: 3px solid #fff !important;
    border-radius: 50%;
    content: "";
    height: 1.2em;
    margin-top: -0.6em;
    position: absolute;
    top: 6px;
    right: -3px;
    width: 1.2em;
    z-index: 100;
    background-color: #3bb54a;
    border-color: #3bb54a;
  }

  &:after {
    animation: pluses 2s ease-out infinite;
  }

  &:before {
    animation: pluses 2s ease-out infinite;
  }
}

@keyframes pluses {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  50% {
    opacity: 0.6;
    transform: scale(1.4);
  }

  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

small,
.small {
  font-size: 0.725rem;
}