@media (min-width: 1300px) {
}

@media (max-width: 1329px) {
}

@media (max-width: 1256px) {
}

@media (max-width: 1147px) {
}

@media (max-width: 1063px) {
}

@media (max-width: 1010px) {
}

@media (max-width: 927px) {
}

@media (max-width: 878px) {
}

@media (max-width: 1200px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1024px) {
}

@media (max-width: 991px) {
  .flex-column-meduim {
    flex-direction: column !important;
  }

  .justify-content-center-meduim {
    justify-content: center !important;
  }

  .align-items-center-meduim {
    align-items: center !important;
  }

  .text-center-meduim {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
  // Global Classes
  .justify-content-center-small {
    justify-content: center !important;
  }

  .align-items-center-small {
    align-items: center !important;
  }

  .text-center-small {
    text-align: center !important;
  }
}

@media (max-width: 567px) {
  #progress {
    scale: 0.9 !important;
  }
  #fixedbutton {
    scale: 0.85 !important;
  }
  #fixedbutton,
  #scroll {
    left: 2rem !important;
  }
}

@media (max-width: 500px) {
}

@media (max-width: 425px) {
  .fs-lg {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}
