:root {
  --text-main-color: #284A6F;
  --bg-main-color: #284A6F;
  --text-secondary-color: #3876BF;
  --bg-secondary-color: #3876BF;
  --text-second-color: #E1AA74;
  --bg-second-color: #E1AA74;
  --text-third-color: #F1B4BB;
  --bg-third-color: #f1afff;
  --text-forth-color: #cf86ac;
  --bg-forth-color: #cf86ac;
  --text-dark-color: #111;
  --bg-dark-color: #111;
  --text-white-color: #fff;
  --bg-white-color: #fff;
  --text-muted-color: #b0b3b8;
  --grey-900: #101010;
  --grey-700: #484848;
  --grey-400: #999999;
  --grey-100: #9c9c9c;
  --bg-input-color: #f2f7fa;
  --border-input-color: #f2f7fa;
  --border-input-radius: 0.625rem;
  --border-card-radius: 20px;
  --border-modal-radius: 15px;
}